.logo{
	max-width: 30%;
	height: auto;
}

html {
	margin: 0px;
	height: 100%;
	width: 100%;
 }
 
 body {
	background-color: #cadddd;
	margin: 0px;
	min-height: 100%;
	width: 100%;
 }


.full-height {
	height: 100%;
  }

.header-text{
	font-size: 300%;
    font-weight: 400;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}


.description{
	font-family: 'Josefin Sans', sans-serif;
	text-align: right;
	font-size: 125%;
}

.pure-text {
    white-space: pre-wrap;
}


h3, h4{
	font-weight: 200;
	color: #424243;
	font-style:normal;
}

h4{
	color: #b8b8b8;
	font-weight: 200;
	text-transform: uppercase;
}

.containerBox{
	/* margin: 5px; */
	box-shadow: 0 0 10px rgba(21, 12, 12, 0.3);
	background-color: #fff;
	border-radius: 0.50rem;
}

.btn{
	border-radius: 0.25rem;
}
